@import "https://unpkg.com/open-props";

:root
{
  --primary: rgb(35,30,34);
  --secondary: rgb(43,38,39);
  --font: rgb(255,255,255);
}

@media screen and (max-width: 600px) {
  dialog {width: 87%;}
}

.flex-column
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {display: none;}

.secondary-color {background-color: var(--secondary);}

i{ font-size: x-large; }

i:hover { cursor: pointer; }

.toolbar-button:hover, input[type="radio"]:checked + .toolbar-button { font-size: xx-large;}

dialog{ border: 0; }

body, html
{
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--primary);
  overflow: hidden;
  font-family: "Kanit", sans-serif;
}

body, html, #context-menu, #context-menu > * {  color: var(--font);} 

.modal
{
  position: relative;
  background-image: url("img/dialog_background.jpg");
  animation-timing-function: var(--ease-squish-3);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border: 0;
}

.modal:not([open])
{
  animation: var(--animation-scale-down) forwards;
}

.modal[open]
{
  animation: var(--animation-slide-in-up) forwards;
}

.modal::backdrop
{
  opacity: 0.5;
  background-color: black;
}

h3 { margin: 0;}

#save-dialog > div > div { margin: 15px 0 15px 0;}

#download {margin-bottom: 15px;}

#err-message { font-style: italic; margin: 0; } 

.error{ border: 2px; border-color: red;}

#content
{
  display: grid;
  grid-template-columns: 3.9rem calc(100vw - 3.9rem);
  height: 100vh;
}

/*TOOLBAR*/

#toolbar
{
  grid-column-start: 1;
  text-align: center;
}

.toolbar-button
{
  margin: 3vh 0 3vh 0;
  transition: all 50ms linear;
}

#context-menu
{
  color: var(--font);
  margin-left: -100px;
  width: 150px;
  height: fit-content;
  padding: 10px;
  transition: all 300ms ease-in-out;
  opacity: 0;
}

#context-menu > div
{
  row-gap: 15px;
}

#context-menu > div > div
{
  row-gap: 10px;
}

#close-context
{
  background: none;
  color: var(--font);
  border: 0;
  position: absolute;
  right: 5px;
}

input[type="color"], input[type="number"]
{
  position: relative;
  left: 30%;
  margin: 1px 0 1px 0;
  border: 0;
  padding: 0;
  width: 50px;
  background-color: var(--secondary);
}

input[type="number"] 
{
  font-size: x-large;
  text-align: center;
  appearance: textfield;
  height: fit-content;
  color: var(--font);
}

input[type="color"] 
{
  background: none;
  height: 50px;
}

/*CANVAS*/

#canvas-container
{
  grid-column-start: 2;
  width: 100%; 
  height: 100%;
}